{{#> layouts/base}}

{{#*inline "content"}}
  <h1>Options</h1>

  {{#each settings.options}}

    <h2>{{group}}</h2>

    <table cellspacing=0 cellpadding=0>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr>
            <td>
              <div class="option__name">{{name}}</div>
              <div class="option__options">{{options}}</div>
            </td>
            <td>{{description}}</td>
            <td>{{default}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  {{/each}}

{{/inline}}

{{/layouts/base}}
