<h2><a href="" class="option__control">+ {{group}}</a></h2>

<div class="option__body">
  <table cellspacing=0 cellpadding=0>
    <thead>
      <tr>
        <th>Name</th>
        <th>Arguments</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        <tr>
          <td>
            <div class="option__name">{{name}}</div>
          </td>
          <td>
            {{#each arguments}}
              <div class="option__argument">
                <div class="option__name">{{name}}:</div>
                {{description}}
              </div>
            {{/each}}
          </td>
          <td>{{{description}}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
